<div class="row-fluid show-grid">
	<div class = "span9">Index#index</div>
	<div class = "span3">vadik</div>
</div>
<div class="btn-group">
  <button class="btn">1</button>
  <button class="btn">2</button>
  <button class="btn">3</button>
</div>