<div class="row-fluid">
	<div class="navbar">
	    <div class="navbar-inner navbar-static-top">
			<%= link_to 'Home', :root, :class => 'brand' %>
			<ul class = 'nav'>
				<% navigation_bar(navbar).each do |link| %>
					<li class="<%= link[:class] %>"><%= link_to link[:text], link[:link] %></li>
				<% end %>
			</ul>
	    </div>
	</div>
</div>